---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Inconsolata, Menlo, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #eee;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: $text-color;
  border-bottom: 3px solid mediumseagreen;
  color: black;

  -webkit-transition:background 150ms ease-in, border-color 150ms ease-out;
  -moz-transition:background 150ms ease-in, border-color 150ms ease-out;
  -o-transition:background 150ms ease-in, border-color 150ms ease-out;
  transition:background 150ms ease-in, border-color 150ms ease-out;
}

a:hover {
  color: $text-color;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  background: mediumseagreen;
}

a:visited {
  color: $text-color;
}

.site-header {
  border-top: none;
}

.site-footer {
  padding: 20px 0 20px 0;
}
